.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.firstWhiteboard {
  border: 1px solid black;
}

.secondWhiteboard {
  border: 1px solid black;
}
