.question_tracker{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(38, 91, 131, 0.20);
    height: 26px;
    min-height: 26px;
    max-height: 26px;
    position: relative;
   
}
.question_item {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #F0F0F0;
}
.question_item.active {
    background-color: #FED325;
}
.question_navigate_section{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
}