.container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
.container > div {
  cursor: move;
}
.dropBox {
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-size: 250px 250px;
}

.outerContainer {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  margin: 0 auto;
}
.outerContainer2 {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 0.5rem;
}
.heading {
  text-align: center;
  margin: 10px 10px;
}
.studentBtn {
  color: white;
  /* position: absolute; */
  /* bottom: 18%; */
  /* left: 44%; */
  background-color: #007bff;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  margin-top: 10px;
}
.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}
.buttonGroup > button {
  padding: 3px 4px;
}
.container1 {
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
  justify-content: center;
}
.container1 > div {
  width: 100px;
  cursor: move;
}
.questionContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  /* margin: 20px 5px; */
  /* padding: 5px; */
}
.questionContainer > textarea {
  border-radius: 20px;
  width: 45%;
  padding: 5px;
  border: 3px solid slategrey;
  text-align: center;
  font-size: 20px;
}

.timerCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: deepskyblue;
  color: beige;
  border: 1px solid black;
  height: 58px;
  width: 58px;

  border-radius: 50%;
}
.teacherScreen {
  border: 1px solid black;
  border-radius: 5px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
      align-content: center; */
  padding: 20px;
  overflow-y: scroll;
  background-color: #ffdd63;
}
.teacherScreen > div {
  text-align: center;
  margin: 0 auto;
  width: 95%;
  background-color: white;
  border-radius: 5px;
}
.teacherScreen > div > h5 {
  font-weight: 600;
  margin-top: 10px;
}
.mainScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height:fit-content; */

  /* background: #FFDD63; */

  text-align: center;
}
.studentCheckin {
  height: 85vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffdd63;
  padding: 20px;
}
.studentCheckin > div > div > h5 {
  font-weight: 600;
  margin-top: 10px;
}

.right-side-student-padding {
  margin-left: 0px;
  padding: 30px !important;
  background-color: lightgoldenrodyellow;
}

.questionName {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  white-space: pre-wrap;
  color: #233584;
}
