.question_content_wrapper {
    white-space: pre-wrap;
    line-height: 22px;
    text-transform: lowercase;
}

.question_content_wrapper span::first-letter,
.question_content_wrapper::first-letter,
.question_content_wrapper input::first-letter{
  text-transform: uppercase !important;
}
.question_content_wrapper input{
     text-transform: lowercase;
}

.inputFieldWrapper{
    display: inline-flex;
    gap: 6px;
}
.inputField {
    height: 40px;
    border: 1.8px solid #2CB8C7;
    border-radius: 8px;
    padding:10px;
    text-align: center;
}
.missingLetterBox{
    width: 40px;
    height: 40px;
    background-color: #3d3d5c;
    color: #fff  !important;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;                                
}
.inputFieldLine{
    border:0px ;
    border-bottom:2px solid #600000;
    height: 24px;
    padding: 0 2px 2px;
    text-align: center;
    vertical-align:text-top;

}
.inputFieldLine:focus{
    outline: none;
}
.missingLetter{
    font-weight: bold  !important;

}
.inputFieldLine:not(:placeholder-shown) {
  color: #600000;
  border-bottom: 2px solid #B2B2B2;
}
.inputFieldLine.Correct{
  color: #58CC02;
  border-bottom: 2px solid #58CC02;
}
.inputFieldLine.Incorrect{
  color: #FF4B4B;
  border-bottom: 2px solid #FF4B4B;
}
.inputField:focus {
    outline: none;
    border-color: #2CB8C7;
    box-shadow: 0 0 5px rgba(44, 184, 199, 0.5);
}