.pages {
    height: 400px;
    width: 80%;
  }
  
  .page {
    height: 100%;
    width: 100%;
    user-select: none;
    touch-action: none;
  }
  
  .page1 {
    background-color: pink;
  }
  
  .page2 {
    background-color: yellow;
  }
  
  .page3 {
    background-color: aqua;
  }
  .page img{
    width:100% !important;
    object-fit: fill;
  }

  