@font-face {
  font-family: "GothamRnd-Book";
  src: url("assets/fonts/GothamRounded-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.bodyPage div,
.bodyPage span,
.bodyPage tr,
.bodyPage td,
.bodyPage th,
.bodyPage h2,
.bodyPage h1,
.bodyPage p {
  /* H3 Desktop 18 pt */

  /* font-family: "Reddit Sans", sans-serif; */
  font-family: "GothamRnd-Book";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.bodyPage2 {
  height: 100%;
}

.bodyPage2 img {
  max-width: 250px;
}

.bodyPage2 h2,
.bodyPage2 h1 {
  font-size: 22px;
}

.groupPage div,
.groupPage span,
.groupPage tr,
.groupPage td,
.groupPage th,
.groupPage h2,
.groupPage p {
  /* H3 Desktop 18 pt */

  /* font-family: "Reddit Sans", sans-serif; */
  font-family: "GothamRnd-Book";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}


.groupPage h2,
.groupPage h1 {
  font-size: 22px;
}

.groupPage {
  display: block;
}