@font-face {
  font-family: "GothamRnd-Book2";
  src: url("assets/fonts/GothamRounded-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.bodyPage div,
.bodyPage span,
.bodyPage tr,
.bodyPage td,
.bodyPage th,
.bodyPage h2,
.bodyPage p {
  /* H3 Desktop 18 pt */

  font-family: "GothamRnd-Book2";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.bodyPage2 {
  height: 100%;
}
.bodyPage2 img {
  max-width: 100%;
}
